@import "tailwindcss";

/* only add layout-safe things */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  font-family: 'Nunito Sans', 'Open Sans', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


.font-opensans {
  font-family: 'Open Sans', system-ui, Helvetica, Arial, sans-serif;
}

.font-nunito {
  font-family: 'Nunito Sans', system-ui, Helvetica, Arial, sans-serif;
}